model:
  name: dlrm

framework: pytorch

workflow:
  generate_data: False
  train: True
  checkpoint: False

dataset:
  data_folder: data/dlrm_parquet/
  format: parquet
  num_files_train: 65536
  num_samples_per_file: 1
  record_length_bytes: 512

reader:
  data_loader: pytorch
  batch_size: 8192
  read_threads: 8
  file_shuffle: seed
  sample_shuffle: seed

train:
  epochs: 1
  computation_time: 0.005

metric:
  au: 0.70
