model:
  name: dlrm

framework: pytorch

workflow:
  generate_data: True
  train: False
  checkpoint: False

dataset:
  data_folder: data/dlrm_parquet/
  format: parquet
  num_files_train: 65536
  num_samples_per_file: 1
  record_length_bytes: 512
  compression: snappy
  parquet:
    row_group_size: 100000
    columns:
      - name: dense_features
        dtype: float32
        size: 13
      - name: sparse_features
        dtype: float32
        size: 26
      - name: label
        dtype: float32
        size: 1
